<form (ngSubmit)="onSend(f)" #f="ngForm">
  <p>Me</p>
  <input type="text" name="name" [ngModel]="name" />
  <p>With me</p>
  <input
    type="number"
    class="companions"
    name="companions"
    [ngModel]="currentCompanions"
  />
  <select name="status" class="status" name="status" [ngModel]="currentStatus">
    <option value="{{ defaultStatus }}">Need to decide</option>
    <option value="{{ comeStatus }}">I will definitely come</option>
    <option value="{{ notComeStatus }}">I definitely will not come</option>
  </select>
  <button class="send-btn" type="submit">Send</button>
</form>
