.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-answer {
  display: flex;
  flex-direction: column;
}

.status {
  margin-top: 20px;
}

.send-btn {
  margin-top: 20px;
  display: block;
}

.companions {
  margin-top: 20px;
}

.companions__label {
  display: inline;
  margin-right: 10px;
}

.send {
  margin-top: 20px;
}

.send-btn {
  align-self: flex-end;
}
