.all-answers {
  position: relative;
  min-height: 200px;
}

.table-container {
  position: relative;
  max-height: 380px;
  overflow: auto;
}

table {
  width: 100%;
}

.table-container td {
  padding-left: 0px;
  padding-right: 10px;
}

.current-row {
  background-color: #81d4fa;
  font-weight: bold;
}
